#custom-login {
	display: block;
	padding-top: 25px;
}

	#custom-login a {
		padding: 1.1em 0 !important;
		margin-bottom: 15px !important;
		border-radius: 4px;
	}

#wpoa-login-google {
	background: #DB4437;
}

.right-col {
	float: right;
	padding-left: 40px;
}

.ult-overlay-close {
    background-color: rgba(233,146,0, .75);
    border-radius: 10px;
}

.ywgc-postdate label, .ywgc-postdate input {
	display: inline-block;
}

.ywgc-postdate label {
	margin-right: 10px;
}

.style1 .ywgc-card-amount {
	line-height: 2.5;
}

.ywgc-card-values {
	background: #F7F4F4;
}

.gift_card_template_button.variations_button .multi-recipients:before {
	content: "\2731";
	margin-right: 5px;
}

.gift_card_template_button.variations_button .multi-recipients {
	margin-bottom: 15px;
}

.thank_you_header > p {
	font-size: 2.3125rem;
	line-height: 1.351351em;
	font-family: 'Arvo', Georgia, serif;
}

.the-button {
	text-align: center;
	margin-top: 45px;
}

.woocommerce > p {
	display: none;
}